<footer>
	<nav>
		<a class="<%= (slideNumber === 1) ? 'introduce' : '' %>" id="prev" href="<%= slideNumber - 1 %>" <%= (slideNumber < 2) ? 'disabled' : '' %>></a>
		<a class="<%= (slideNumber === 1) ? 'introduce' : '' %>" id="stop" href="/"></a>
		<a class="<%= (slideNumber === 1) ? 'introduce' : '' %>" id="next" href="<%= slideNumber + 1 %>" <%= (slideNumber > totalSlides - 1) ? 'disabled' : '' %>></a>
	</nav>
</footer>