<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Generic Slide</title>
	<%- stylesheet -%>
</head>
<body>
	<%- header -%>
	<main>
		<h1 class="dnata-title">Title</h1>
		<h2 class="dnata-subtitle">Subtitle</h2>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
		<p>Architecto eius libero molestias voluptatibus? Maiores error, accusantium eum harum hic fugiat non nemo veritatis nobis?</p>
		<p>Laboriosam ab cumque error repellendus molestiae?</p>
		<%- daisy("Tip voor deze slide") -%>
	</main>
	<%- footer -%>
	<%- script -%>
</body>
</html>